/* resets */
*{
  /*remove default margin and padding*/
  margin: 0;
  padding :0;
  line-height: calc ( 0.25rem + 1rem + 0.25rem ) ;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  /*Text will only be controlled by font-size*/
  -webkit-text-size-adjust: none;
  box-sizing: border-box; /*ensures thar border and padding dont affect the final size */
  font-size: 100%; /*accesibilyti match the 100 in the browser*/
}

ol, ul {
  padding: 0;
	list-style: none;
}

/*Avoid text Overflows*/
:where(p,h1,h2, h4, h5 , h6){
  overflow-wrap: break-word;
}

a,
a:visited,
a:active{
  text-decoration: none;
}

img{
  max-width: 100%;
 }

 button, input{
  user-select: none;
 }

h1,
h2,
h3{
  line-height: 1.1;
  margin-top: 0;
  font-weight: 700;
}

button{
  
}