/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,900&display=swap');


//font-family
$font-name: 'Roboto';

//font-sizes
$font-small: 12px;
$font-regular: 16px;
$font-big: 20px;

//font-weight
$font-light: 200;
$font-normal: 400;
$font-heavy: 700;