//Colors

$primary-color: #0c80b6;
$secondary-color: #67edff;

$error-color: #d32752;
$info-color: #f6c31c;

$neutral-color: #ccc;
$dark-neutral-color: #2a143b;


// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

$medium-margin: 1.25em;

//btn
$button-padding: 0.75rem  1.5rem;

// borders
$base-border-radius: 10px;
$base-border-width: 1px;


