@use '../abstracts/aligments' as *;
@use '../abstracts/variables' as v;
@use '../abstracts/typography' as t;

.task-form{
  margin-top: v.$medium-margin;
   @include center-flex;
   
   //flex-wrap: wrap;
}
.task-input{
   width: 300px;
   height: 3.1rem;
   border-radius:  8px ;
   font-size: t.$font-regular;
  //  padding:8px 8px 20px 10px;
   padding-inline: 10px;
   margin-right: 8px;
   outline: none;
   border:none;
   font-family: t.$font-name;
   color: v.$light-neutral-color;
   background: #0053ba;
   font-size: t.$font-big;
   

   &::placeholder{
    color: v.$light-neutral-color;
   }
}
.task-btn{
//height: 20px;
padding: 16px 8px;
border:none;
border-radius:  8px;
}



 /*https://css-tricks.com/overriding-default-button-styles/*/

 button {
  display: inline-block;
  border: none;
  //padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: v.$light-neutral-color;
  font-family: t.$font-name;
  font-size: 1rem;
  font-weight: t.$font-heavy;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover,
  &:focus{
    background: #0053ba;
  }
  
  &:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }
  
  &:active {
    transform: scale(0.99);
  }

}

// button:hover,
// button:focus {
//   background: #0053ba;
// }

// button:focus {
//   outline: 1px solid #fff;
//   outline-offset: -4px;
// }

// button:active {
//   transform: scale(0.99);
// }
