@use '../abstracts/aligments' as *;
@use '../abstracts/variables' as v;
@use '../abstracts/typography' as t;


.task-container{
  @include center-flex;
  @include regular-radius;
  width: clamp(90%, 400px, 100%);
  min-height: 65px;
  background-color: #1b1b1b;
  color: v.$light-neutral-color;
  height: 1.5rem;
  cursor: pointer;
  margin-block: v.$medium-margin;

  &:nth-child(3n +1){
    background-color: #1b1b1b;
  }
  &:nth-child(3n +2){
    background-color: #333333;
  }
  &:nth-child(3n + 3){
    background-color: #4d4d4d;
  }
  
}



.task-text{
  width: 100%;
  overflow-wrap: anywhere;
  display: flex;
  align-items: center;
  font-size: t.$font-big;
  padding-left: 10px;
 // padding-top: 12px;
}

.task-icon{
  margin-inline: v.$base-margin;
  width:20px;
  height: 20px;
}

/* Task Complete */ 
 .task-completada{
  background-color: v.$dark-neutral-color;
  text-decoration: line-through;
 }

 .completado{
  color: greenyellow;
 }


 /*https://css-tricks.com/overriding-default-button-styles/*/

 button {
  display: inline-block;
  border: none;
  //padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #31da85;
  color: #ffffff;
  font-family: t.$font-name;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover,
  &:focus{
    background: #0053ba;
  }
  
  &:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }
  
  &:active {
    transform: scale(0.99);
  }

}

// button:hover,
// button:focus {
//   background: #0053ba;
// }

// button:focus {
//   outline: 1px solid #fff;
//   outline-offset: -4px;
// }

// button:active {
//   transform: scale(0.99);
// }
