@use './scss/abstracts/' as *;

.App{
  height: 100vh;
  width: 100%;
  font-family: $font-name;
  font-weight: $font-normal;
 display: flex;
 align-items: center;
  //flex-wrap: wrap;
   flex-direction: column;
   padding-block: 20px;
}

.main-container{
  margin: $base-margin 0;
  padding: $base-padding;
  width: clamp(350px, 50%, 600px);
  //height: clamp(100px, 600px);
  background-color: $primary-color;
  @include regular-radius;
  display: flex;
  align-items: center;
  flex-direction: column;
}